<!DOCTYPE html>
<html>
  <head>
    <title>Good Morning Town</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= turbo_include_tags %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>

    <meta name="description" content= "Good Morning, T Town!" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#272d33">
    <meta name="msapplication-TileColor" content="#272d33">
    <meta name="theme-color" content="#e5e1dd">
  </head>

  <body>
    <div class="md:max-w-sm md:mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
