<!DOCTYPE html>
<html>
  <head>
    <title>Good Morning T Town</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= turbo_include_tags %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
